@model ICollection<JamesRecipes.Models.Feedback>

<div class="container-fluid">
    <div class="list-group mb-4">
        @foreach (var feedback in Model)
        {
            <div class="list-group-item mb-4">
                <div class="d-flex justify-content-between">
                    <h3 class="mb-1">
                        <strong class="@((feedback.UserId == 3025) ? "text-warning" : "text-danger")">
                            @feedback.User?.Username
                        </strong>
                        <span style="font-size: 12px">at @feedback.CreatedAt</span>
                    </h3>
                    <small>
                        @for (int i = 0; i < @feedback.Rating; i++)
                        {
                            <i class="fas fa-star" style="color: goldenrod"></i>
                        }
                    </small>
                </div>
                <p class="mb-1">@feedback.Content</p>
            </div>
        }
    </div>
</div>

