@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - JamesRecipes</title>
    
    <!-- CSS here -->
    <link rel="stylesheet" href="~/FE/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/FE/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FE/css/magnific-popup.css">
    <link rel="stylesheet" href="~/FE/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/FE/css/themify-icons.css">
    <link rel="stylesheet" href="~/FE/css/nice-select.css">
    <link rel="stylesheet" href="~/FE/css/flaticon.css">
    <link rel="stylesheet" href="~/FE/css/gijgo.css">
    <link rel="stylesheet" href="~/FE/css/animate.min.css">
    <link rel="stylesheet" href="~/FE/css/slick.css">
    <link rel="stylesheet" href="~/FE/css/slicknav.css">
    <link rel="stylesheet" href="~/FE/css/style.css">
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">*@

    @*<link rel="stylesheet" href="~/FE/css/responsive.css">*@
</head>
<body>
<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a href="#">
                                <img src="~/FE/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu   d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                    <li><a asp-action="Index" asp-controller="Recipe">Recipes</a></li>
                                    <li><a asp-action="Index" asp-controller="Tip">Tips</a></li>
                                    <li><a asp-action="Index" asp-controller="Contest">Contest</a></li>
                                    <li><a asp-action="Index" asp-controller="Announcement">Announcement</a></li>
                                    @*<li><a asp-action="Index" asp-controller="Books">Book</a></li>*@
                                    <li><a href="#">Jame's recipes</a>
                                        <ul class="submenu">
                                            <li><a asp-action="Index" asp-controller="About">About us</a></li>
                                            <li><a asp-action="Index" asp-controller="Contact">Contact us</a></li>
                                            <li><a asp-action="Index" asp-controller="Faq">FAQ's</a></li>
                                        </ul>
                                    </li>
                                    @*<li><a asp-action="Index" asp-controller="Cart">Cart</a></li>*@
                                        @{
                                            var httpContext = Context.Request.HttpContext;
                                            var userJson = httpContext.Session.GetString("user");
                                            var adminJson = httpContext.Session.GetString("admin");
                                        }
                                    <li>
                                        @{
                                            if (!string.IsNullOrEmpty(userJson))
                                            {
                                                var user = JsonConvert.DeserializeObject<User>(userJson);
                                                <a href="#">@user.Username</a>
                                            }
                                            else if (!string.IsNullOrEmpty(adminJson))
                                            {
                                                var admin = JsonConvert.DeserializeObject<User>(adminJson);
                                                <a href="#">@admin.Username</a>
                                            }
                                            else
                                            {
                                                <a href="#">Account</a>
                                            }
                                        }
                                        <ul class="submenu">
                                            @if (!string.IsNullOrEmpty(userJson))
                                            {
                                                var user = JsonConvert.DeserializeObject<User>(userJson);
                                                <li><a asp-action="GetRecipesByUser" asp-controller="Recipe" asp-route-id="@user.UserId">My Recipes</a></li>
                                                <li><a asp-action="GetTipsByUser" asp-controller="Tip" asp-route-id="@user.UserId">My Tips</a></li>
                                                <li><a asp-action="MyProfile" asp-controller="Account" asp-route-id="@user.UserId">My profile</a></li>
                                                <li><a asp-action="ChangePassword" asp-controller="Account" asp-route-id="@user.UserId">Change password</a></li>
                                                <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                                            }
                                            else if (!string.IsNullOrEmpty(adminJson))
                                            {
                                                var admin = JsonConvert.DeserializeObject<User>(adminJson);
                                                <li><a asp-action="GetRecipesByUser" asp-controller="Recipe" asp-route-id="@admin.UserId">My Recipe</a></li>
                                                <li><a asp-action="GetTipsByUser" asp-controller="Tip" asp-route-id="@admin.UserId">My Tips</a></li>
                                                <li><a asp-action="MyProfile" asp-controller="Account" asp-route-id="@admin.UserId">My profile</a></li>
                                                <li><a asp-action="ChangePassword" asp-controller="Account" asp-route-id="@admin.UserId">Change password</a></li>
                                                <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                                            }
                                            else
                                            {
                                                <li><a asp-action="Login" asp-controller="Account">Login</a></li>
                                                <li><a asp-action="Register" asp-controller="Account">Sign up</a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div>
    <main role="main" class="pb-3" style="margin-top: 150px; font-family: 'Arial', 'serif';">
        @RenderBody()
    </main>
</div>


<footer class="footer" >
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Image
                                </h3>
                                <ul>
                                    <li><a href="#">Address</a></li>
                                    <li><a href="#">Email</a></li>
                                    <li><a href="#">Phone</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Cookery
                                </h3>
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Recipe">Recipes</a></li>
                                    <li><a asp-action="Index" asp-controller="Tip">Tips</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Contest
                                </h3>
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Contest">Contest</a></li>
                                    <li><a asp-action="Index" asp-controller="Announcement">Announcement</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Account
                                </h3>
                                <ul>
                                    <li><a asp-action="Login" asp-controller="Account">Login</a></li>
                                    <li><a asp-action="MyProfile" asp-controller="Account">My profile</a></li>
                                    <li><a asp-action="Register" asp-controller="Account">Register</a></li>

                                </ul>

                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    James's recipes
                                </h3>
                                <ul>
                                    @*<li><a asp-action="Index" asp-controller="Books">Books</a></li>*@
                                    <li><a asp-action="Index" asp-controller="About">About us</a></li>
                                    <li><a asp-action="Index" asp-controller="Contact">Contact us</a></li>
                                    <li><a asp-action="Index" asp-controller="Faq">FAQ's</a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <p class="text-center copy_right">
                                Copyright &copy;2023; All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

<!-- JS here -->
    <script src="~/FE/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/FE/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/FE/js/popper.min.js"></script>
    <script src="~/FE/js/bootstrap.min.js"></script>
    <script src="~/FE/js/owl.carousel.min.js"></script>
    <script src="~/FE/js/isotope.pkgd.min.js"></script>
    <script src="~/FE/js/ajax-form.js"></script>
    <script src="~/FE/js/waypoints.min.js"></script>
    <script src="~/FE/js/jquery.counterup.min.js"></script>
    <script src="~/FE/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/FE/js/scrollIt.js"></script>
    <script src="~/FE/js/jquery.scrollUp.min.js"></script>
    <script src="~/FE/js/wow.min.js"></script>
    <script src="~/FE/js/nice-select.min.js"></script>
    <script src="~/FE/js/jquery.slicknav.min.js"></script>
    <script src="~/FE/js/jquery.magnific-popup.min.js"></script>
    <script src="~/FE/js/plugins.js"></script>
    <script src="~/FE/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="~/FE/js/contact.js"></script>
    <script src="~/FE/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/FE/js/jquery.form.js"></script>
    <script src="~/FE/js/jquery.validate.min.js"></script>
    <script src="~/FE/js/mail-script.js"></script>

    <script src="~/FE/js/main.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>*@

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>