@using Newtonsoft.Json
@model Tip
@{
  ViewData["Title"] = Model.Title;
}

@{
    var httpContext = Context.Request.HttpContext;
    var userJson = httpContext.Session.GetString("user");
    var adminJson = httpContext.Session.GetString("admin");
}

<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div>
              <img class="img-fluid mb-4" src="~/@Model.Image" alt="Recipe Image" />
          </div>
      </div>
      
      <div class="col-md-6">
          <h1>@Model.Title</h1>
          <div class="mt-4">
              <h3>Content</h3>
              <p>@Model.Content</p>
          </div>
          <div class="mt-4">
              <h3>Date Posted</h3>
              <p>@Model.CreatedAt</p>
          </div>
      </div>
  </div>
  <div class="col-md-12">
      <div class="mt-4">
          <h3>Comments</h3>
          <div id="commentsList">
              @Html.Partial("_CommentsPartial", Model.Feedbacks)
          </div>

      </div>
      
      <div class="mt-4">
          <h3>Add Comment and Rating</h3>
          @if (!string.IsNullOrEmpty(userJson) || !string.IsNullOrEmpty(adminJson))
          {
              var user = !string.IsNullOrEmpty(userJson)
                  ? JsonConvert.DeserializeObject<User>(userJson)
                  : JsonConvert.DeserializeObject<User>(adminJson);
                     
            <form id="commentForm">
               <input type="hidden" name="tipId" value="@Model.TipId" />
               <input type="hidden" name="userId" value="@user.UserId" />
               <div class="form-group">
                  <label>Content:</label>
                  <textarea class="form-control" name="content"></textarea>
               </div>
               <div class="form-group">
                  <label>Rating:</label>
                  <input id="star-rating" type="number" class="rating" name="rating" data-min="0" data-max="5" data-step="1" data-size="md">
               </div>
               <button type="button" class="btn btn-primary" onclick="postComment()">Submit Feedback</button>
            </form>
         }
         else
         {
            <h3>You can <a asp-action="Login" asp-controller="Account">Login</a> to post your own tips.</h3>
         }
      </div>
  </div>
</div>

<script>
   function postComment() {
      var formData = $("#commentForm").serialize();

      $.ajax({
         url: '@Url.Action("PostFeedback", "Tip")',
         type: 'POST',
         data: formData,
         success: function (partialView) {
            $('#commentsList').html(partialView);
         },
         error: function () {
            alert('Error posting comment.');
         }
      });
   }
   $(document).ready(function () {
       $('#star-rating').rating();
   });
</script>

