@model JamesRecipes.Models.Contest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guidelines)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guidelines)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <div class="form-group">
            <img src="@Url.Content("~/"+Model.Image)" alt="Contest Image" style="width:100px; height:100px;" />
        </div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="ContestManagement" asp-route-id="@Model?.ContestId">Edit</a> |
    <a asp-action="Index" asp-controller="ContestManagement">Back to List</a>
</div>
