@model IEnumerable<JamesRecipes.Models.Contest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="ContestManagement">Create New</a>
</p>
<div><p style="color: red">@TempData["msgDelete"]</p></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guidelines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.Guidelines.Length > 100)
                    {
                        @Html.Raw(item.Guidelines.Substring(0, 25) + "...")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Guidelines)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <img src="@Url.Content("~/"+item.Image)" alt="Contest Image" style="width:100px; height:100px;" />
                    

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin.UserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="ContestManagement" asp-route-id="@item.ContestId">Edit</a> |
                    <a asp-action="Details" asp-controller="ContestManagement" asp-route-id="@item.ContestId">Details</a> |
                    <a asp-action="DeleteConfirmed" asp-controller="ContestManagement" asp-route-id="@item.ContestId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

