@model JamesRecipes.Models.ContestEntry

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<div class="container">
    <h1 class="text-center">Contest Entry Details</h1>
    
    <div class="row mt-4" >
        <div class="col-md-6" style="margin-top: 50px">
            <h4 class="text-center">Contest Entry Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Created At:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedAt)</dd>

                <dt class="col-sm-4">Score:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Score)</dd>
            </dl>
        </div>

        <div class="col-md-6" style="margin-top: 50px">
            <h4 class="text-center">Related Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Contest Title:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Contest.Title)</dd>

                <dt class="col-sm-4">Recipe Title:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Recipe.Title)</dd>

                <dt class="col-sm-4">User:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.User.Username)</dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <h5><a asp-action="Edit" asp-controller="ContestEntries" asp-route-id="@Model?.EntryId" class="btn btn-primary">Score the Entries</a></h5>
    </div>
</div>

@Html.Partial("RecipeDetailsPartial", Model.Recipe)
