@model IEnumerable<JamesRecipes.Models.ContestEntry>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="ContestEntries">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    <img src="~/Admin/images/contestentries/@item.Image" alt="Contest Entry Image" class="img-thumbnail" style="max-width: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contest.ContestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe.RecipeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="ContestEntries" asp-route-id="@item.EntryId">Edit</a> |
                    <a asp-action="Details" asp-controller="ContestEntries" asp-route-id="@item.EntryId">Details</a> |
                    <a asp-action="Delete" asp-controller="ContestEntries" asp-route-id="@item.EntryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
