@model Recipe
@{
  Layout = "_FELayout";
  ViewData["Title"] = "Recipes";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<style>
    .rating {
        color: #ffc107;
        font-size: 25px;
    }

</style>

<h2 class="card-title fw-semibold mb-4">Recipe Management</h2>
<h1 class="text-center mb-4 text-danger"> @Html.DisplayFor(m => m.Title)</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Id: @Html.DisplayFor(m => m.RecipeId)</h3>
                <h3>Category: <span class="badge bg-secondary">@Html.DisplayFor(m => m.CategoryRecipe.CategoryName)</span></h3>
                <h3>Date post: @Model.CreatedAt</h3>
                <h3>Posted by: @Html.DisplayFor(m => m.User!.Username)</h3>
                <h3>Role: <span class="badge bg-success">@Html.DisplayFor(m => m.User!.Role!.RoleName)</span></h3>
                <img alt="@Model.Title" src="~/@Model.Image" style="height: 100px; width: auto"/>
            </div>
        </div>
    </div>
            
            <!-- Right Column -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <h3>Ingredients: </h3>
                    <p>@Html.DisplayFor(m => m.Ingredients)</p>
                </div>
                <div>
                    <h3>Procedure: </h3>
                    <p>@Html.DisplayFor(m => m.Procedure)</p>
                </div>
                <div class="rating mb-2">
                    <h3>Rating: 
                        <span class="rating">
                            @for (int i = 0; i < @Model.Rating; i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                        </span>
                    </h3> 
                </div>
                <h3>
                    <div>
                        Status: <input asp-for="@Model.Status" type="checkbox" class="recipe-switch" id="switch-@Model.RecipeId" data-recipe-id="@Model.RecipeId">
                    </div>
                </h3>
                @if (Model.User?.Role?.RoleId == 1)
                {
                    <h3>
                        <div>
                        Premium: <input asp-for="@Model.IsMembershipOnly" type="checkbox" class="recipe-premium-switch" id="switch-@Model.RecipeId" data-recipe-id="@Model.RecipeId">
                        </div>
                    </h3>
                }
            </div>
        </div>
    </div>
    
            <h1 class="text-center mb-4"> COMMENT</h1>
            
            <div class="col-md-12">
        <div class="list-group mb-4">
                @foreach (var feedback in Model.Feedbacks)
                {
                    <div class="list-group-item mb-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1 text-danger"><strong>@feedback.User?.Username</strong></h5>
                            <small>
                                @for (int i = 0; i < @feedback.Rating; i++)
                                {
                                    <i class="fas fa-star" style="color: #ffc107"></i>
                                }
                            </small>
                        </div>
                        <p class="mb-1">@feedback.Content</p>
                    </div>
                }
            </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    @*Change status*@
    <script>
        $(document).ready(function () {
            $('.recipe-switch').change(function () {
                var recipeId = $(this).data('recipe-id');
                var isChecked = $(this).prop('checked');
                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SwitchStatus", "Recipe")',
                    data: { id: recipeId, status: isChecked },
                    success: function () {
                        console.log('Status updated successfully.');
                    },
                    error: function (error) {
                        console.error('Error updating status:', error);
                    }
                });
            });
        });
    </script>
    
    @*Change premium status*@
    <script>
        $(document).ready(function () {
            $('.recipe-premium-switch').change(function () {
                var recipeId = $(this).data('recipe-id');
                var isChecked = $(this).prop('checked');
                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SwitchPremium", "Recipe")',
                    data: { id: recipeId, isPre: isChecked },
                    success: function () {
                        console.log('Change premium status successfully.');
                    },
                    error: function (error) {
                        console.error('Error updating status:', error);
                    }
                });
            });
        });
    </script>
}



