@using Newtonsoft.Json
@using X.PagedList.Mvc.Common
@model X.PagedList.IPagedList<Recipe>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Recipes";
}

@{
    var httpContext = Context.Request.HttpContext;
    var userJson = httpContext.Session.GetString("userLogged");
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<style>
    .rating {
        color: #ffc107;
        font-size: 18px;
    }
    .membership-label {
        position: absolute;
        top: 0;
        left: 0;
        background-color: lightskyblue;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: bold;
    }
    .james-label {
        position: absolute;
        top: 0;
        right: 0;
        background-color: gold;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: bold;
        margin: 5px 5px 0 0;
    }
</style>
<h1 class="text-center text-danger" style="margin-top: 150px">Your Recipes</h1>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            <div class="sidebar">
                <h4>Filter</h4>
                <form asp-action="GetRecipesByUser" asp-controller="Recipe" method="get">
                    <div class="form-group">
                        <label for="categoryId">Category:</label>
                        <select name="categoryId" id="categoryId" class="form-control" asp-items="ViewBag.CategoryId">
                            <option value="" class="text-center">All Categories</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="timeMin">Time needs:</label>
                            <input name="timeMin" id="timeMin" value="@ViewData["CurrentTimeMin"]" class="form-control" type="time">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="timeMax">to</label>
                            <input name="timeMax" id="timeMax" value="@ViewData["CurrentTimeMax"]" class="form-control" type="time">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ratingMin">Rating:</label>
                            <input name="ratingMin" id="ratingMin" value="@ViewData["CurrentRatingMin"]" class="form-control" type="number">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ratingMax">to</label>
                            <input name="ratingMax" id="ratingMax" value="@ViewData["CurrentRatingMax"]" class="form-control" type="number">
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-danger">Filter</button>
                        <a asp-action="GetRecipesByUser" asp-controller="Recipe" class="btn btn-info">Reset</a>
                    </div>
                </form>
            </div>
        </div>


        <!-- Main Content Area -->
        <div class="col-xl-9 col-lg-9 border-left">
            <div class="mb-4">
                @if (!string.IsNullOrEmpty(userJson))
                {
                    <h3><a asp-action="Create" asp-controller="Recipe">Create new recipe</a></h3>
                }
                else
                {
                    <h3>You can <a asp-action="Login" asp-controller="Account" class="text-danger">Login</a> to post your own recipes.</h3>
                }
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="GetRecipesByUser" asp-controller="Recipe" method="get" class="form-inline my-2 my-lg-0">
                        <div class="input-group">
                            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Enter title here ..." aria-label="Search" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <h5>
                        <span class="d-inline">Sort: </span>
                        <h5><a asp-action="GetRecipesByUser" asp-controller="Recipe" asp-route-sortOrder="@ViewData["NameSort"]">Title | </a> </h5>
                        <h5><a asp-action="GetRecipesByUser" asp-controller="Recipe" asp-route-sortOrder="@ViewData["DateSort"]"> Date post | </a> </h5>
                        <h5><a asp-action="GetRecipesByUser" asp-controller="Recipe" asp-route-sortOrder="@ViewData["RatingSort"]"> Rating</a></h5>
                    </h5>
                </div>
            </div>

            <!-- Recipe Display Area -->
            <div class="recepie_area" style="margin-top: -50px">
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4 col-lg-4 col-md-6  border-right" style="position: relative; margin-bottom: 10px">
                                @if (item.IsMembershipOnly)
                                {
                                    <span class="membership-label">Membership</span>
                                }
                                @if (item.UserId == 3025)
                                {
                                    <span class="james-label">James</span>
                                }
                                <div class="single_recepie text-center">
                                    <div class="recepie_thumb mt-2" onclick="redirectToSingleRecipe('@item.RecipeId')">
                                        <img style="height: 220px" src="~/@item.Image" alt="@item.Title">
                                    </div>
                                    <h3 style="font-family: sastify, sans-serif; color: indianred; " onclick="redirectToSingleRecipe('@item.RecipeId')">@item.Title</h3>
                                    <span>@item.CreatedAt</span>
                                    <p class="mb-2">Time Needs: @item.Timeneeds</p>
                                    <div class="rating mb-2">
                                        @if (item.Rating != null)
                                        {
                                            for (int i = 0; i < item.Rating; i++)
                                            {
                                                <i class="fas fa-star"></i>
                                            }
                                        }
                                        else
                                        {
                                            <h3 style="font-size: 18px">No rated yet</h3>
                                        }
                                    </div>
                                    @if (!string.IsNullOrEmpty(userJson))
                                    {
                                        var user = JsonConvert.DeserializeObject<User>(userJson);
                                        if (user!.RoleId == 2 || user.RoleId == 3)
                                        {
                                            <div>
                                                Show: <input asp-for="@item.Status" type="checkbox" class="recipe-switch" id="switch-@item.RecipeId" data-recipe-id="@item.RecipeId">
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                Show: <input asp-for="@item.Status" type="checkbox" class="recipe-switch" id="switch-@item.RecipeId" data-recipe-id="@item.RecipeId">
                                            </div>
                                            <div>
                                                Premium: <input asp-for="@item.IsMembershipOnly" type="checkbox" class="recipe-premium-switch" id="premium-switch-@item.RecipeId" data-recipe-id="@item.RecipeId">
                                            </div>
                                        }
                                    }
                                    <div class="row d-flex ">
                                        <div class="col-md-6 justify-content-center">
                                            <a asp-action="UpdateRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">
                                                <button class="btn btn-info" style="margin-top: 9px">Update</button>
                                            </a>
                                        </div>
                                        <div class="col-md-6 justify-content-center">
                                            <form id="deleteForm" data-recipe-id="@item.RecipeId" data-recipe-Uid="@item.UserId" method="post" onsubmit="return confirmDelete()">
                                                <button type="submit" class="btn btn-danger m-2">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("GetRecipesByUser", "Recipe", new { page = page }),
                    new PagedListRenderOptions()
                    {
                        LiElementClasses = new[] { "page-item" },
                        PageClasses = new[] { "page-link" },
                        ContainerDivClasses = new[] { "pagination", "justify-content-center" },
                        UlElementClasses = new[] { "pagination" }
                    })
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    @*Change status*@
    <script>
        $(document).ready(function () {
            $('.recipe-switch').change(function () {
                var recipeId = $(this).data('recipe-id');
                var isChecked = $(this).prop('checked');
                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SwitchStatus", "Recipe")',
                    data: { id: recipeId, status: isChecked },
                    success: function () {
                        console.log('Status updated successfully.');
                    },
                    error: function (error) {
                        console.error('Error updating status:', error);
                    }
                });
            });
        });
    </script>
    
    @*Change premium status*@
    <script>
        $(document).ready(function () {
            $('.recipe-premium-switch').change(function () {
                var recipeId = $(this).data('recipe-id');
                var isChecked = $(this).prop('checked');
                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SwitchPremium", "Recipe")',
                    data: { id: recipeId, isPre: isChecked },
                    success: function () {
                        console.log('Change premium status successfully.');
                    },
                    error: function (error) {
                        console.error('Error updating status:', error);
                    }
                });
            });
        });
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        var u;
        function confirmDelete() {
            var r = $('#deleteForm').data('recipe-id');
            var u = $('#deleteForm').data('recipe-uid');
    
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteMyRecipe", "Recipe")',
                        data: { recipeId: r, userId: u },
                        success: function (data) {
                            Swal.fire(
                                'Deleted!',
                                'Your recipe has been deleted.',
                                'success'
                            );
                            
                            setTimeout(function () {
                                window.location.href = '@Url.Action("GetRecipesByUser", "Recipe", new {id = "__userId__"})'.replace('__userId__', u);
                            }, 1000);
                        },
                       
                    });
                }
            });
            return false;
        }
    </script>

    <script>
            function redirectToSingleRecipe(recipeId) {
                window.location.href = '/single_recipe?id=' + recipeId;
            }
    </script>
}
