@model Recipe

@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="row">
        <!-- Cột cho Hình ảnh -->
        <div class="col-md-6">
            <h1>@Model.Title</h1>

            <div>
                <img class="img-fluid mb-4" src="~/@Model.Image" alt="Recipe Image" />
            </div>
        </div>

        <!-- Cột cho Thông tin -->
        <div class="col-md-6">
            <div class="mt-4">
                <h3>Ingredients</h3>
                <p>@Model.Ingredients</p>
            </div>

            <div class="mt-4">
                <h3>Procedure</h3>
                <p>@Model.Procedure</p>
            </div>

            <div class="mt-4">
                <h3>Time</h3>
                <p>@Model.Timeneeds minutes</p>
            </div>

            <div class="mt-4">
                <h3>Date Posted</h3>
                <p>@Model.CreatedAt</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>
                </div>
        </div>
    </div>
</div>