@model JamesRecipes.Models.Book.DTOs.ViewBookCate
<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
@*         <div class="col-12">
            <label class="visually-hidden" for="categoryBookId">Category</label>
            <select class="form-select" id="categoryBookId" name="categoryBookId">
                <option selected>Category</option>
                @foreach (var cate in Model.CategoriesBooks)
                {
                    <option selected="@(cate.CategoryBookId.Equals(Model.CategoriesBooks))" value="@cate.CategoryBookId">@cate.CategoryName</option>
                }
            </select>
        </div> *@

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Sarch by title">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap ">
    @foreach (var book in Model.Books)
    {
        <div class="card mx-3 mb-4" style="width: 11rem;">
            <img src="@Url.Content("~/"+book.Image)" alt="Book Image" style="width:100px; height:100px;" />
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">
                    <b>Category: </b>@book.CategoryName <br />
                    <b>Author: </b>@book.Author <br />
                    <b>Price: </b>@book.Price
                </p>
                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@book.BookId">Add to cart</a>
            </div>
        </div>
    }
</div>


