@model JamesRecipes.Models.Announcement

@{
    ViewData["Title"] = "Details";
    
}

<h1>Details</h1>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnonymousWinnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnonymousWinnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contest.ContestId)
        </dd>
    </dl>
</div>
