@model JamesRecipes.Models.AnonymousRecipe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<div class="container">
    <h1 class="text-center mb-4">Recipe Details</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Model.Title</h4>
            <hr />

            <dl class="row">
                <div class="col-sm-6">
                    <dt>Recipe ID:</dt>
                    <dd>@Model.AnonymousId</dd>

                    <dt>Ingredients:</dt>
                    <dd>@Html.Raw(Model.Ingredients)</dd>

                    <dt>Procedure:</dt>
                    <dd>@Html.Raw(Model.Procedure)</dd>

                    <dt>Created At:</dt>
                    <dd>@Html.DisplayFor(model => model.CreatedAt)</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Image:</dt>
                    <dd>
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img src="~/@Model.Image" alt="Recipe Image" class="img-fluid img-thumbnail" />
                        }
                    </dd>

                    <dt>Time Needs:</dt>
                    <dd>@Html.DisplayFor(model => model.Timeneeds)</dd>

                    <dt>Video URL:</dt>
                    <dd>@Html.DisplayFor(model => model.VideoUrl)</dd>

                    <dt>Contact Information:</dt>
                    <dd>
                        Email: @Html.DisplayFor(model => model.ContactEmail) <br />
                        Phone: @Html.DisplayFor(model => model.ContactPhone)
                    </dd>

                    <dt>Anonymous Name:</dt>
                    <dd>@Html.DisplayFor(model => model.AnonymousName)</dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Create" asp-controller="AnonymousContestEntries" asp-route-id="@Model?.ContestId" class="btn btn-primary">Score the Entries</a>
        <a asp-action="Index" asp-controller="ContestEntries" class="btn btn-secondary ml-2">Back to List</a>
    </div>
</div>
