@model IEnumerable<JamesRecipes.Models.AnonymousRecipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<h1>Contest Management</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Score
            </th>
            <th>
                Image
            </th>
            <th>
                Contest
            </th>
            <th>
                Name
            </th>
            <th>
                Date posted
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnonymousId)
                </td>
                <td>
                <td>
                    <img src="@Url.Content(item.Image)" alt="Contest Entry Image" class="img-thumbnail" style="max-width: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnonymousName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AnonymousRecipeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AnonymousRecipeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
