@model IEnumerable<model.Models.ViewTipManagement>
@{
    Layout = "_FELayout";
    ViewData["Title"] = "Tips";
}


<h2 class="card-title fw-semibold mb-4">Tip Management</h2>

<table class="table ">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Title
        </th>
        <th>
            Category
        </th>
        <th>
            Rating
        </th>
        <th>
            Status
        </th>
        <th>
            Date post
        </th>
        <th>
            User
        </th>
        <th>
            Role
        </th>
        <th>
            Action
        </th>
        
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            @*<td>
                <a asp-action="GetTip" asp-controller="TipManagement" asp-route-id="@item.TipId">Detail</a> | 
            </td>*@
        </tr>
    }
    </tbody>
</table>