@model JamesRecipes.Models.ContestEntry
@using JamesRecipes.Models.ViewModels;

<h1 class="text-center text-danger" style="margin: 150px 0 50px 0">Submit Contest Recipe</h1>
<hr />

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="CreateContestRecipe" asp-controller="ContestEntries">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Contest</label>
                    <input type="text" value="@ViewData["ContestTitle"]" class="form-control" readonly />
                    <input type="hidden" asp-for="ContestId" />
                </div>

                <div class="form-group">
                    <label class="control-label">User</label>
                    <input type="text" value="@ViewData["Username"]" class="form-control" readonly />
                    <input type="hidden" asp-for="UserId" />
                </div>

                <div class="form-group">
                    <label asp-for="RecipeId" class="control-label">Recipe</label>
                    @if (ViewBag.RecipeSelectItems is List<ExtendedSelectListItem> recipeSelectItems)
                    {
                        <select asp-for="RecipeId" class="form-control" id="RecipeId" onchange="updateImage()">
                            @foreach (var item in recipeSelectItems)
                            {
                                <option value="@item.Value" data-img-url="@item.ImageUrl">@item.Text</option>
                            }
                        </select>
                    }
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary btn-block" />
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 mx-auto text-center">
            <!-- The img tag to display the image -->
            <img id="recipeImage" src="" alt="Recipe Image" class="img-fluid" />
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" asp-controller="Contest" class="btn btn-secondary">Back to List</a>
</div>

<script>
    function updateImage() {
        var selectElement = document.querySelector('#RecipeId');
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var imageUrl = selectedOption.getAttribute('data-img-url');
        document.getElementById('recipeImage').src = imageUrl || 'default-placeholder-image-url';
    }

    document.addEventListener('DOMContentLoaded', function () {
        updateImage(); // Call immediately when the page loads to update the initial image
    });
</script>
