@model JamesRecipes.Models.Contest;

@using Newtonsoft.Json; 

@{
    ViewData["Title"] = "Contest Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@{
    var httpContext = Context.Request.HttpContext;
    var userJson = httpContext.Session.GetString("userLogged");
}

<div class="container mt-4">
    <h1 class="text-center text-danger" style="margin: 150px 0 50px 0">@Model.Title</h1>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">Title:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Title)</dd>

                <dt class="col-sm-4">Guidelines:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Guidelines)</dd>

                <dt class="col-sm-4">Start Date:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.StartDate)</dd>

                <dt class="col-sm-4">End Date:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EndDate)</dd>

                <dt class="col-sm-4">Created At:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedAt)</dd>

                <dt class="col-sm-4">Image:</dt>
                <dd class="col-sm-8">
                    <img src="@Url.Content("~/"+Model.Image)" alt="Contest Images" class="img-fluid" style="max-width:400px; max-height:400px;" />
                </dd>
            </dl>
        </div>

        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(userJson))
                {
                    var user = JsonConvert.DeserializeObject<User>(userJson);
                    @if (user != null)
                    {
                        <div>
                            <a asp-action="UserContestRecipeCreatePartial" asp-controller="Recipe" asp-route-contestId="@Model.ContestId" class="btn btn-primary">Create New Recipe</a>
                            <a asp-action="CreateContestRecipe" asp-controller="ContestEntries" asp-route-contestId="@Model.ContestId" class="btn btn-success ml-2">Submit Your Recipe</a>
                        </div>
                    }
                    
                }
            else
            {
                <div>
                    <a asp-action="Login" asp-controller="Account" class="btn btn-danger">Login to submit your recipe</a>
                </div>
                <h3 style="margin: 5px 0; padding: 0px 0">or</h3>
                <div class="mt-3">
                    <a asp-action="FECreate" asp-controller="AnonymousRecipes" asp-route-contestId="@Model.ContestId" class="btn btn-info">Submit Your Recipe As Guest</a>
                </div>
            }
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Index" asp-controller="Contest" class="btn btn-secondary">Back to Contest List</a>
    </div>
</div>
