@model IEnumerable<JamesRecipes.Models.View.ViewUserRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}
<p>
    <a asp-action="RegisterAdmin" asp-controller="AccountManagement">Create New</a>
</p>

<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
         @*    <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th> *@
            <th>
               Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                @* <td>
                   
                     <input type="checkbox" class="lockAccountButton" data-userid="@item.UserId" />
                       
                   
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
               @*  <td>
                    <a asp-action="RegisterAdmin" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.lockAccountButton').change(function () {
            var isChecked = $(this).is(':checked');
            var userId = $(this).data('userid');
            var $lockAccountMessage = $(this).closest('td').find('.lockAccountMessage');

            $.ajax({
                url: '@Url.Action("LockAccount", "AccountManagement")',
                type: 'POST',
                data: { userId: userId, isChecked: isChecked },
                success: function (result) {
                    if (result.success) {
                        if (isChecked) {
                            $lockAccountMessage.text('This account is locked.');
                        } else {
                            $lockAccountMessage.text('');
                        }
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>
 *@