@using X.PagedList.Mvc.Common
@model X.PagedList.IPagedList<Contact>
@using X.PagedList.Mvc.Core

@{
  Layout = "_FELayout";
  ViewData["Title"] = "Recipes";
}

<h2 class="card-title fw-semibold mb-4">Recipe Management</h2>

<table class="table ">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Status</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Status)
                {
                    <p class="text-info">Replied</p>
                }
                else
                {
                    <p class="text-danger">Not replied</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="GetContactDetail" asp-controller="ContactManagement" asp-route-id="@item.ContactId">Detail</a> 
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", "ContactManagement", new { page = page }),
        new PagedListRenderOptions()
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            ContainerDivClasses = new[] { "pagination", "justify-content-center" },
            UlElementClasses = new[] { "pagination" }
        })
</div>



