@using X.PagedList.Mvc.Common
@model X.PagedList.IPagedList<model.Models.Contact>
@using X.PagedList.Mvc.Core

@{
  Layout = "_FELayout";
  ViewData["Title"] = "Recipes";
}

<h2 class="card-title fw-semibold mb-4">Recipe Management</h2>
@*<div class="row">
    <div class="col-md-3">
        <form asp-action="Index" asp-controller="RecipeManagement" method="get">
            <div class="input-group input-group-sm mb-3">
                <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Enter title here..." />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-9 d-flex align-items-center justify-content-end">
        <h5 class="mr-3 mb-0">Sort: </h5>
        <div class="btn-group btn-group-sm" role="group">
            <a asp-action="Index" asp-controller="RecipeManagement" asp-route-sortOrder="@ViewData["NameSort"]" class="btn btn-secondary">Title</a>
            <a asp-action="Index" asp-controller="RecipeManagement" asp-route-sortOrder="@ViewData["DateSort"]" class="btn btn-secondary">Date post</a>
            <a asp-action="Index" asp-controller="RecipeManagement" asp-route-sortOrder="@ViewData["RatingSort"]" class="btn btn-secondary">Rating</a>
        </div>
    </div>
</div>*@





<table class="table ">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Status</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="GetContactDetail" asp-controller="ContactManagement" asp-route-id="@item.ContactId">Detail</a> 
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", "ContactManagement", new { page = page }),
        new PagedListRenderOptions()
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            ContainerDivClasses = new[] { "pagination", "justify-content-center" },
            UlElementClasses = new[] { "pagination" }
        })
</div>



