@using Newtonsoft.Json
@model JamesRecipes.Models.UserMem

@{
    ViewData["Title"] = "Login";
}

@{
    var httpContext = Context.Request.HttpContext;
    var userJson = httpContext.Session.GetString("userLogged");
}

<div class="row justify-content-center" style="margin: 150px 0 50px 0">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header  text-white text-center">
                <h1 class="text-danger">MyProfile</h1>
            </div>
            <div class="card-body">
                @if (TempData["Success"] != null) 
                {
                    <div class="alert alert-success">@TempData["Success"]</div>
                }
                <div>
                    <h4 style="line-height: 0">Username: @Model.User.Username</h4><br />
                    <h4 style="line-height: 0">Email: @Model.User.Email</h4><br />
                    @if (!string.IsNullOrEmpty(userJson))
                    {
                        var user = JsonConvert.DeserializeObject<User>(userJson);
                        if (user.RoleId == 3)
                        {
                            <h4 style="line-height: 0">Membership end date: @Model.Membership.EndDate</h4><br />
                        }
                    }
                </div>
                <form asp-action="MyProfile" asp-controller="Account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="User.UserId" name="id" />
                    <div class="form-group">
                        <label asp-for="User.PhoneNumber" class="control-label">Phone Number:</label>
                        <input asp-for="User.PhoneNumber" class="form-control" />
                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Address" class="control-label">Address:</label>
                        <input asp-for="User.Address" class="form-control" />
                        <span asp-validation-for="User.Address" class="text-danger"></span>
                    </div>
                    <p class="text-danger">@TempData["msg"]</p>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-danger">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

